<canvas
  baseChart
  class="chart"
  height="70"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [type]="lineChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
></canvas>
<div class="container text-center">
  <div class="row">
    <div class="col-12 col-md-6 ">
      <button type="button" class="btn btn-primary" (click)="hideOne()">
        Toggle Yearly Deposits
      </button>
    </div>
    <div class="col-12 col-md-6 ">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="inflationRange" class="form-label" [innerHTML]="'Expected Average Inflation Rate ' + variables.inflationRate + '%&nbsp;&nbsp;'"></label>
      <input  type="range" class="form-range" [(ngModel)]="variables.inflationRate"  min="-10" max="25" id="inflationRange" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6 ">
      <label for="yearlyReturnRange" class="form-label" [innerHTML]="'Expected Average Yearly Return ' + variables.annualInterest + '%&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.annualInterest" min="-10" max="20" id="yearlyReturnRange" (input)="triggerRecalculate($event)">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <label for="currentSavings" class="form-label">Current savings:&nbsp;&nbsp;</label>
      <input type="number"  [(ngModel)]="variables.currentSavings"  min="-999999" max="99999" id="currentSavings" (input)="triggerRecalculate($event)"> CHF
    </div>
    <div class="col-12 col-md-6 ">
      <label for="peakProductivityAge" class="form-label" [innerHTML]="'Peak productivity age ' + variables.peakProductivityAge + ' years&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.peakProductivityAge" min="35" max="55" id="peakProductivityAge" (input)="triggerRecalculate($event)">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="retirementInYearsRange" class="form-label" [innerHTML]="'Start retirement in years:  ' + variables.retirementInYears + ' years&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.retirementInYears" min="10" max="50" id="retirementInYearsRange" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6 ">
      <label for="retirementInYearsRange" class="form-label" [innerHTML]="'Retirement home house budget  ' + variables.retirementHomeHousePurchase + ' CHF&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.retirementHomeHousePurchase" min="0" max="1000000" id="retirementHomeHousePurchase" (input)="triggerRecalculate($event)">
    </div>
  </div>

  <h1>Person A</h1>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="retirementInYearsRange" class="form-label" [innerHTML]="'Monthly savings  ' + variables.persons.personA.monthlySavings + ' CHF&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personA.monthlySavings" min="1" max="5000" id="monthlySavingsPersonA" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6">
      <label for="currentAgePersonA" class="form-label">Current Age:&nbsp;&nbsp;</label>
      <input type="number"  [(ngModel)]="variables.persons.personA.currentAge"  min="16" max="70" id="currentAgePersonA" (input)="triggerRecalculate($event)"> Years
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="lifeExpectancyPersonA" class="form-label" [innerHTML]="'Life expectancy ' + variables.persons.personA.lifeExpectancy + ' years&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personA.lifeExpectancy" min="70" max="110" id="lifeExpectancyPersonA" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6 ">
      <label for="increaseProductivityFactorPersonA" class="form-label" [innerHTML]="'Increase productivity factor  ' + variables.persons.personA.increaseProductivityFactor + ' power&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personA.increaseProductivityFactor"  step="0.01" min="0" max="3" id="increaseProductivityFactorPersonA" (input)="triggerRecalculate($event)">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="decreaseProductivityFactorPersonA" class="form-label" [innerHTML]="'Decrease productivity factor  ' + variables.persons.personA.decreaseProductivityFactor + ' power&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personA.decreaseProductivityFactor" min="0" max="3" step="0.01" id="decreaseProductivityFactorPersonA" (input)="triggerRecalculate($event)">
    </div>
  </div>


  <h1>Person B</h1>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="retirementInYearsRange" class="form-label" [innerHTML]="'Monthly savings  ' + variables.persons.personB.monthlySavings + ' CHF&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personB.monthlySavings" min="1" max="5000" id="monthlySavingsPersonB" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6">
      <label for="currentAgePersonB" class="form-label">Current Age:&nbsp;&nbsp;</label>
      <input type="number"  [(ngModel)]="variables.persons.personB.currentAge"  min="16" max="70" id="currentAgePersonB" (input)="triggerRecalculate($event)"> Years
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="lifeExpectancyPersonB" class="form-label" [innerHTML]="'Life expectancy ' + variables.persons.personB.lifeExpectancy + ' years&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personB.lifeExpectancy" min="70" max="110" id="lifeExpectancyPersonB" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6 ">
      <label for="increaseProductivityFactorPersonB" class="form-label" [innerHTML]="'Increase productivity factor  ' + variables.persons.personB.increaseProductivityFactor + ' power&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personB.increaseProductivityFactor"  step="0.01" min="0" max="3" id="increaseProductivityFactorPersonB" (input)="triggerRecalculate($event)">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="decreaseProductivityFactorPersonB" class="form-label" [innerHTML]="'Decrease productivity factor  ' + variables.persons.personB.decreaseProductivityFactor + ' power&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.persons.personB.decreaseProductivityFactor" step="0.01" min="0" max="3" id="decreaseProductivityFactorPersonB" (input)="triggerRecalculate($event)">
    </div>
  </div>

  <h1>Dependants</h1>
  <div class="row">
    <div class="col-12 col-md-6 ">
      <label for="monthlyDependantCosts" class="form-label" [innerHTML]="'Monthly dependant costs  ' + variables.monthlyDependantCosts + ' CHF&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.monthlyDependantCosts" min="1" max="5000" id="monthlyDependantCosts" (input)="triggerRecalculate($event)">
    </div>
    <div class="col-12 col-md-6">
      <label for="expectedDependantYearsToLive" class="form-label" [innerHTML]="'Expected dependants years to live  ' + variables.expectedDependantYearsToLive + ' age&nbsp;&nbsp;'"></label>
      <input type="range" class="form-range" [(ngModel)]="variables.expectedDependantYearsToLive" step="1" min="10" max="50" id="expectedDependantYearsToLive" (input)="triggerRecalculate($event)">
    </div>
  </div>

</div>


